<!-- Tarjeta Acerca de -->
<div class="card my-4">
    <h5 class="card-header">Acerca de</h5>
    <div class="card-body">
        <div class="row">
            <img src="~/img/perfil.png" />
        </div>

        <hr />

        <div class="row">
            <h5>Emanuel Stradella</h5>
            <p>
                Soy un estudiante de ingeniería en informática desde 2013. Curso mis estudios en la Universidad 
                Católica de Santiago del Estero, Departamento Académico Rafaela. Actualmente me encuentro realizando un 
                curso de ASP.NET MVC, en donde se enseñarán los conocimientos requeridos para la creación de una 
                aplicación web. Mi objetivo es crear este blog a modo de implementación de dichos conocimientos.
            </p>
        </div>
    </div>
</div>

<!-- Tarjeta Búsqueda -->
<div class="card my-4">
    <h5 class="card-header">Búsqueda</h5>
    <div class="card-body">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar...">
            <span class="input-group-btn">
                <button class="btn btn-secondary boton-buscar" type="button">Ir!</button>
            </span>
        </div>
    </div>
</div>

<!-- Tarjeta Categorías -->
<div class="card my-4">
    <h5 class="card-header">Categorías</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#">Web Design</a>
                    </li>
                    <li>
                        <a href="#">HTML</a>
                    </li>
                    <li>
                        <a href="#">Freebies</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#">JavaScript</a>
                    </li>
                    <li>
                        <a href="#">CSS</a>
                    </li>
                    <li>
                        <a href="#">Tutorials</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Side Widget -->
<div class="card my-4">
    <h5 class="card-header">Etiquetas</h5>
    <div class="card-body">
        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
    </div>
</div>
